* {
    margin: 0;
    padding: 0;
}
body {
    /*font-size: calc(1vw + 0.6em);*/
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 12px;
    /*background-color: grey;*/

}
.absoluteBlackOut {
    display: none;
    width: 100%;
    height: 6316px;
    position: absolute;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.7);
    background-size: 100% 100%;

}
.main, .features, .cases, .form {
    background-color: #171718;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #202020;
    height: 50px;
    padding: 0 10px 0 10px;
}
header img {

    width: 45px;
    height: 24px;
}
.headerLogo {
    display: flex;
    align-items: center;
}
#logoName {
    display: none;
    color:white;
    margin-left: 10px;
}
.feedback button {
    color: #FF834E;
    border: 2px solid #FF834E;
    background-color: rgba(0, 0, 0, 0);
    width: 170px; height: 50px;
    font-size: 16px;
    margin-right: 20px;
}
.feedback a {
    font-size: 14px;
    color: white;
}
nav, .feedback {
    display: none;
    align-items: center;
}
nav {
    font-size: 14px;
}
nav a {
    margin-left: 32px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}
#burger {
    position: relative;
    background-color: #292929;
    color: white;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    border: none;
    box-shadow: 0 3px 5px 0 black;
}
#burger:hover {
    background-color: #565656;
}
@media screen and (max-width: 751px) {
    nav {
        position: absolute;
        top: 50px;
        right: 0;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 9;
        width: 222px; height: 250px;
        display: none;
        flex-direction: column;
        justify-content: space-around;
    }
}
@media screen and (min-width: 751px) {
    nav {
        position: inherit;
        top: auto;
        right: auto;
        background-color: transparent;
        display: flex;
    }
    #burger {
        display: none;
    }
}
.main {
    background-image: url("../images/main/blume.png");
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 20px;

}
.head {
    margin-top: 30px;
    max-width: 370px;
}
#marketPlace {
    margin-top: 30px;
}
#headCommerse {
    color: #FF834E;
    font-weight: 700;

}
#headCommerse img {
    margin-right: 10px;
}
h1 {
    color: white;
    font-size: 21px;
    font-weight: 700;
}
#phone {
    margin: 10% 0 5% 0;
}
#button {
    background-color: #FF834E;
    width: 100%; max-width: 330px;
    height: 50px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    color: white;
    font-size: 16px;
    font-weight: 100;
}
#button img {

}
.button {
    display: flex;
    flex-direction: column;
    align-items: center;

}
#answer {
    margin-top: 5%;
    margin-bottom: 5%;
    color: #A48E96;
}
@media screen and (min-width: 800px) {
    .main {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: start;
        justify-content: space-around;
        padding: 0 50px 0 50px;
    }
}
/*///   DESKTOP version   ///*/
.mainDesktop {
    display: none;
    background-color: #151515;
    background-image: url("../images/main/blumeBgDesktop.png");
    background-size: 100% 100%;
    padding: 70px 255px 0px 255px;
}
.headDesktop {
    padding: 125px 0 0 0;
    color: white;
}
.mainDesktop {
    padding: 70px 155px 0px 155px;
    height: 965px;
    justify-content: space-between;
}
.buttonDesktop {
    display: none;
    margin-top: 30px;
    flex-direction: column;
}
#answerDesktop {
    font-size: 14px;
    color: #A48E96;
    padding-top: 150px;
}
#buttonDesktop {
    background-color: #FF834E;
    width: 330px;
    height: 50px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    color: white;
    font-size: 18px;
    font-weight: 100;
}

#E {
    font-size: 1000px;
    font-weight: 900;
    position: absolute;
    color: rgba(255, 255, 255, 0.1);
    right: 10%;
    top: -10%;
    z-index: 0;
}
#phoneDesktop {
    z-index: 1;
    position: relative;
}
/**/

@media screen and (min-width: 875px) {

}
@media screen and (min-width: 1380px) {
    header {
        padding-left: 255px;
        padding-right: 255px;
    }
    .main {
        padding-left: 255px;
        padding-right: 255px;
    }

    header {
        height: 90px;
    }
}

/*/////////////////////////////// HOW ///////////////////////////////////*/

.how {
    padding: 50px 0 5% 4%;
    background-color: white;
}
.how p {
    text-align: center;
    width: 65%;
    margin-left: 15%;
    font-size: 14px;
}
.container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-weight: bold;
}
.grid {
    display: grid;
    margin-left: 5%;
}
.item {
    display: grid;
    margin-bottom: 10%;
    grid-template-columns: 1fr 3fr 1fr;
    border-bottom: 2px solid #E6E6E6;
    /*position: relative;*/
}
.itemLast {
    border-bottom: none;
}
.item span {
    font-size: 32px;
}
.item img {
    padding-right: 10%;
    justify-self: end;
    align-self: center;
}
.item span {
    justify-self: center;
    align-self: center;
}
.item b {
    justify-self: start;
    align-self: center;
    font-size: 12px;
}
#red {
    color: red;
}
.arrowDown {
    border: none;
    background-color: transparent;
    justify-self: end;
}
#arrowOne {
    cursor: pointer;
}
.howPageToogle {
    display: none;
    width: 257px; height: auto;
    top: 612px; left: 1px;
    grid-column-start: 1;
    grid-column-end: 4;
}
.howPageToogle p {
    text-align: left;
    width: 518px;
    margin-left: 0;
    font-size: 12px;
    font-weight: 200;
}


/*//////   HOW PAGE DESKTOP   //////////*/

.howPageDesktop {
    display: none;
    background-color: #151515;
    background-image: url("../images/how/Path.png");
    background-repeat: no-repeat;
    background-position: center;

}
.backgroundPath {
    background-image: url("../images/how/blumeBGDesktop.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 212px 0 212px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.howPageGridContainer {
    margin-top: 97px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 9em;
    grid-row-gap: 100px;
}
.gridItemsDesktop img {
    z-index: 2;
    position: relative;
}
.gridItemsDesktop {
    position: relative;
}
.gridItemsDesktop span {
    position: absolute;
    top: -69px;
    left: 103px;
    font-size: 118px;
    font-weight: 900;
    z-index: 0;
    color: rgba(255, 255, 255, 0.1);
}
#colorGridNumber {
    color: #EF8B54;
}
#about, #aboutShow {
    font-size: 18px;
    font-weight: 200;
    color: white;
    position: absolute;
    width: 289px;
    text-align: center;
    left: -36px;
    top: 205px;
}

#aboutShow {
    width: 100px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 200;
    color: white;
    position: absolute;
    left: 48px;
    text-align: center;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
}
#circle {
    position: absolute;
    color: white;
    font-weight: 200;
    background-color: #EF8B54;
    background-image: url("../images/how/plus.svg");
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 10px;
    border-radius: 100%;
    border: 2px solid white;
    top: -7px;
    left: 100px;
    width: 25px; height: 25px;
}

.popUp {
    display: none;
    width: 700px;
    height: 400px;
    border-radius: 10px;
    left: 25%;
    background-color: #262626;
    position: absolute;
    padding: 53px 62px 53px 62px;
    z-index: 9999;
    flex-direction: column;
    justify-content: center;
    align-items: start;

}
#back {
    position: absolute;
    cursor: pointer;
    top: -35px;
    right: -50px;
    color:white;
    width: 50px; /*height: 25px;*/
    padding: 5px 0 5px 0;
    border-radius: 15px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
}
#popUpP1 {color: white; font-size: 26px; font-weight: 500;}
#popUpP2 {color: white; font-size: 18px; font-weight: 200; margin-top: 100px;}
@media screen and (min-width: 1500px) {  /*@media for desktop version*/
    .feedback {
        display: flex;
    }
    .buttonDesktop {
        display: flex;
    }
    .main {
        display: none;
    }
    .mainDesktop {
        display: flex;
    }
    #phoneDesktop {
        margin: 0;
    }
    #headCommerse {
        font-size: 23px;

    }
    #headCommerse img {
        width: 19px; height: 19px;
    }
    #marketPlace {
        font-size: 52px;
        margin-top: 48px;
    }

    #answer {
        color: white;
    }
}
@media screen and (min-width: 1500px) {
    .mainDesktop {
        padding: 70px 255px 0px 255px;
    }
    #logoName {
        display: block;
    }
    .how {
        display: none;
    }
    .howPageDesktop {
        display: block;
    }
}
/*//////////////////  features  //////////////////////*/

.features {
    padding: 90px 20px 0 20px;
    background-image: url("../images/features/blumeBackGround.png");
    background-size: 100% 100%;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.itemFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.features b, .features p {
    max-width: 350px;
}
.features b {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15%;
}
.features p {
    margin-bottom: 20%;
}
.banks {
    background-color: white;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 3px 5px 0 black;
}
.banks img {
    width: 60%;
}
.border img {
    height: 215px;
    width: 215px;
    position: relative;
    top: 2px;
    left: -7px;
}
.border {
    background-color: #1D1D1D;
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
.twoF {
    border-top: 2px solid rgba(112, 112, 112, 0.2);
    padding-top: 10%;
}
.twoF p, .threeF p {
    padding: 0 5% 15% 5%;
    border-bottom: 2px solid rgba(112, 112, 112, 0.2);
}
#myWebSite {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
    color: #31BE00;
    box-shadow: 0 3px 5px 0 black;
    width: 250px;
    height: 50px;
    position: relative;
    left: -25px;
    top: -70px;
    border: none;
    border-radius: 50px;
}
#myWebSite img {
    position: inherit;
    width: 10px;
    height: auto;
}
#oneC {
    width: 215px;
    height: 215px;
}


.featuresDesktop {
    display: none;
    background-color: #151515;
    background-image: url("../images/features/geometryPattern.png");
    padding: 185px 255px 0px 255px;
}
.backgroundFeaturesBlum {
    background-image: url("../images/features/BlumeBGDesktop.png");
    width: 100%; height: 100%;/**/
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.phoneDataBanks {
    position: relative;
}
/*/// FORM FEATURES BANKS, CMM, ...*/
.formFeaturesBanks {
    width: 260px;
    position: absolute;
    top: 56px;
    left: 179px;
}
#titlePay {
    font-size: 26px;
    color: white;
    font-weight: 500;
}
.imgBanks {
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.paypal, .visa, .mastercard {
    width: 70px;
    height: 44px;
    border-radius: 5px;
    margin-top: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
}
.paypal {
    background-image: url("../images/features/payPal.png");
}
.visa {
    background-image: url("../images/features/visa.png");
}
.mastercard {
    background-image: url("../images/features/mastercard.png");
}
.formFeatures {
    margin-top: 40px;
}
.input {
    border-radius: 5px;
    background-color: white;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.formFeatures input {
    width: 230px;
    border: none;
    font-size: 16px;
    outline:none;
}
.formFeatures label {
    color: cornflowerblue;
}
.validityPeriod, #validityPeriod, .ccv, #ccv {
    width: 113px;
    display: inline-block;
}
.ccv {
    margin-left: 10px;
}
.fingerprint {
    width: 88px;height: 88px;
    background-image: url("../images/features/fingerprint (1).png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto auto auto;
}
.fingerprint img {
    opacity: 0.5;
}
#paySubmit {
    margin: 40px 0 0 0;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    background-color: #2A56CB;
    color: white;
}
/*/////////////////////////////////*/


.info {
    max-width: 596px;
    margin-top: -250px;
    color: white;
}
#p1 {
    font-size: 25px;
    font-weight: 600;
}
#p2 {
    margin-top: 55px;
    font-size: 18px;
}

.logoBanksFlex {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.clickPhone {
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: #767679;
    position: relative;
    top: -98px;
}
.clickPhone a {
    margin-right: 47px;
    margin-left: 47px;
    border-bottom: 2px solid #767679;
}
.clickPhone a:hover {
    border-bottom: 2px solid #EF8B54;
    color: #EF8B54;
}
@media screen and (min-width: 734px) {
    .features {
        background-image: url("../images/features/blumeBackGroundGoriz.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .twoF {
        border-top: none;
        padding-top: 0;
    }
    .twoF p, .threeF p {
        border-bottom: none;
    }
    .threeF {
        border-top: 2px solid rgba(112, 112, 112, 0.2);
        padding-top: 0;
    }
}
@media screen and (min-width: 1089px) {
    .threeF {
        border: none;
    }
}
@media screen and (min-width: 1500px){
    .features {
        display: none;
    }
    .featuresDesktop {
        display: block;
    }
}
    /*///////////////////////////////////  cases    ///////////////////////////////////*/

.cases {
    background-image: url("../images/cases/blumeBackGround.png");
    background-size: 100% 100%;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10% 5% 0 5%;
    color: white;
}

.cases h1 {
    font-weight: 300;
    align-self: start;
    margin: 0 0 10% 0;
}
.flexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
h3 {
    font-size: 22px;
    font-weight: 500;
}
h4 {
    font-size: 15px;
    font-weight: 200;
}
.itemCases {
    background-color: #1C1222;
    padding: 10px;
    margin-bottom: 50px;
    border-radius: 5px;
    box-shadow: 0 3px 5px 0 black;
    /*width: 280px;*/
}
.application {
    background-color: #764CB9;
    display: flex;
    flex-direction: column;
    padding: 20px 10px 20px 10px;
}
.applicationDivFlex {
    display: flex;
    margin-bottom: 10%;
}
.applicationDivFlex p {
    font-size: 11px;
    font-weight: 500;
}
#heart {
    position: relative;
    width: 20px;
    height: 20px;
    left: -31px;
    top: 8px;
}
#application {
    height: 45px;
    width: 80%;
    margin-left: 10%;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px;
    border: 3px solid white;
    color: white;
}


.casesDesktop {
    display: none;
    background-color: #151515;
    background-image: url("../images/cases/geometryPattern.png");
    background-size: cover;
}
.backgroundCasesBlum {
    background-image: url("../images/cases/Blume BG.png");
    background-size: 100% 100%;
    padding: 50px 255px 105px 255px;
    background-repeat: no-repeat;
}
.casesDesktop h4 {
    color: white;
    font-size: 42px;
    font-weight: 300;
    text-align: center;
}
.casesFlexContainer {
    display: flex;
    justify-content: space-around;
    align-items: start;
    margin-top: 130px;
}
.casesFlexItem {
    width: 330px; height: 497px;
    background-color: #151515;
    margin-right: 10px;
    margin-left: 10px;
    padding: 20px;
    border-radius: 5px;
}
.backgroundFlower, .backgroundClimate, .backgroundPharmacy, .backgroundTechnology {
    height: 367px;
    background-repeat: no-repeat;
    background-size: 100% auto ;
    border-radius: 5px;
}
.backgroundFlower {
    background-image: url("../images/cases/flowerDesktop.jpg");
}
.backgroundClimate {
    background-image: url("../images/cases/climateDesktop.jpg");
}
.backgroundPharmacy {
    background-image: url("../images/cases/pharmacyDesktop.jpg");
}
.backgroundTechnology {
    background-image: url("../images/cases/technologyDesktop.jpg");
}
#casesContentTitle {
    font-size: 26px;
    font-weight: 500;
}
#casesContent {
    font-size: 18px;
}
.casesFlexItem p {
    color: white;
    margin-top: 23px;
}
.request {
    margin-top: 85px;
    /*margin-left: auto; margin-right: auto;*/
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#leftDiv, #rightDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}
#leftDiv {
    width: 750px; height: 65px;
    background-color: #50386F;
}
#rightDiv {
    width: 240px; height: 65px;
    background-color: #7249B6;
}
#arrowImg {
    margin-left: 25px;
}
@media screen and (min-width: 700px) {
    .cases {
        background-image: url("../images/cases/Blume BG.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .gridContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .itemCases {
        margin: 10px;
    }
    .cases h1 {
        align-self: center;
    }
}
@media screen and (min-width: 1700px) {
    .cases {
        display: none;
    }
    .casesDesktop {
        display: block;
    }
}
/*////////////////////////// CLIENTS ////////////////////////////////*/

.clients {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    margin-bottom: 10%;
}
.clients h1 {
    margin-bottom: 10%;
    font-weight: 300;
    padding-top: 30%;
    border-top: 2px solid rgba(112, 112, 112, 0.5);
}
.ellipse {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 100%;
    width: 210px;
    height: 210px;
    margin-bottom: 57px;
}
.ellipse img {
    margin: auto;
}
.moreLess {
    display: flex;
    justify-content: space-around;
}
#lessArrow {
    transform: rotate(180deg);
    background-image: url("../images/clients/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
}
#test {
    background-image: url("../images/clients/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.ourCLientsDesktop {
    display: none;
    background-color: #151515;
    background-image: url("../images/clients/geometryPattern.png");
    background-size: cover;
}
.backgroundClientsBlum {
    background-image: url("../images/clients/Blume BG.png");
    background-size: 100% 100%;
    padding: 50px 255px 105px 255px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ourCLientsDesktop h4 {
    color: white;
    font-size: 42px;
    font-weight: 300;
    text-align: center;
}
.clientsFlexContainer {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 210px;
}
.clientsFlexItem {
    position: relative;
    z-index: 2;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60% auto   ;
    width: 317px; height: 317px;
    background-color: white;
    border-radius: 100%;

}
#logoPark {
    background-image: url("../images/clients/logoPark.png");
}
#logoPharmacy {
    background-image: url("../images/clients/logoNewPharmacy.png");
}
#logoSmartShop {
    background-image: url("../images/clients/logoSmartShopStereo.png");
}
#logoSenorTomato {
    background-image: url("../images/clients/logoSenorTomato.png");
}
.clientsFlexItem span {
    position: absolute;
    top: -120px;
    left: 150px;
    font-size: 190px;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.1);
}
#color {
    color: #EF8B54;
    z-index: 0;
    position: absolute;
}
.buttonNextBack {
    display: flex;
    justify-content: space-around;
    width: 10%;
    margin: 90px auto 0 auto;
}

@media screen and (min-width: 1900px) {
    .clients {
        display: none;
    }
    .ourCLientsDesktop {
        display: block;
    }
    .
}
/*//////////////////////   FORM /////////////////////////*/


.form {
    background-image: url("../images/form/blumeBackGround.png");
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10% 5% 0 5%;
}
.form h1 {
    color: #EF8B54;
}
.flexUl {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ulLi {
    width: 100%; max-width: 400px;
    height: 100%;
    border: 2px solid #EF8B54;
    margin: 100px 0 100px 0;
}
.ulLi h5 {
    font-weight: 500;
    font-size: 18px;
}
.lists {
    margin: 5%;
    width: 100%;
    list-style-image: url("../images/form/plus.png");
}
.divForm {
    width: 100%; max-width: 400px;
    height: 100%;
    margin: 10% 0 20% 0;
    background-color: rgba(107, 107, 107, 0.5);
}
.formClients {
    margin: 20px;
}
.checkbox {
    display: flex;
}
#checkboxPersonData {
    border: 1px solid #dddddd;
    border-radius: 2px;
    width: 22px; height: 22px;
}
.checkbox label {
    font-size: 10px;
    margin-left: 10px;
}
#name, #number, #text {
    width: 90%;
    padding: 5%;
    margin-bottom: 5%;
}
#text {
    height: 100px;
    resize: none;
    font-family: 'Montserrat', sans-serif;
}

#submitForm {
    margin: 5% 0 5% 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(-45deg, #EE5432, #DE9B55);
    border: none;
    box-shadow: 0 3px 5px -1px #EE5432
}
@media screen and (min-width: 700px) {
    .form {
        background-image: url("../images/form/blumeBGgoriz.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .divForm {
        margin-bottom: 50px;
    }
}
@media screen and (min-width: 900px) {
    .form {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    .clients h1 {
        border: none;
    }
}
@media screen and (min-width: 1412px) {
    .divForm {
        margin-bottom: 50px;
        margin-top: 0;
    }
}
@media screen and (min-width: 1586px) {
    .form {
        padding: 210px 255px 176px 255px;
        flex-direction: row;
        align-items: inherit;
    }
    .clients {
        display: none;
    }
    .flexUl {
        max-width: 665px;
        height: 434px;
    }
    .flexUl h1 {
        font-size: 41px;
        font-weight: 900;
        margin-top: 50px;
    }
    .desktopFade {
        display: block;
    }
    .mobileFade {
        display: none;
    }
    .ulLi {
        max-width: 665px;
        font-size: 16px;
        height: auto;
    }
    .ulLi h5 {
        font-weight: 500;
        font-size: 25px;
    }
    .divForm {
        background-color: white;
        margin-bottom: 0;
    }
    .divForm input, #text {
        border: 1px solid #D0D0D0;
    }
    .checkbox, .divForm {
        color: #595959;
    }
}
/*/////////////////   FOOTER   //////////////////////////*/

footer {
    background-color: #2E2E2E;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 50px;
}
.logoFooter, .contacts, .social {
    display: flex;
    flex-direction: column;
}
.contacts, .social, .map {
    margin: 50px 0 0 0;
}
footer h6 {
    font-size: 18px;
    color: #969696;
}
.logoFooter img {
    margin: 5%;
}
.contacts p, .social p, .map p {
    color: white;
    font-size: 16px;
}
.contacts, .social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 120px;
}
.map {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}
@media screen and (min-width: 700px) {
    footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: start;
    }
    .logoFooter, .contacts, .social, .map {
        margin: 0 0 0 0;
    }
    .map {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 30%;
    }
}